import React from 'react';
import useAuth from 'hooks/useAuth';
import styled from 'styled-components';
import PageWrapper from 'components/PageWrapper/PageWrapper';

const Container = styled.div`
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
`;

function {{ name }}() {
  const { user } = useAuth();
  return (
    <PageWrapper>
      <Container>
        <p>
          I am a new container!
        </p>
      </Container>
    </PageWrapper>
  );
}

export default {{name}};
